<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="masthead d-flex">
    <div class="container text-center my-auto" th:fragment="header">
        <h1 class="mb-1" align="center">Visitor App Demo</h1>
    </div>
    <div align="right">
            <span th:if="${visitor.userFirst!=null or visitor.userLast!=null}">
                <a th:href="@{/reset}">Start Over</a>
                    </span>
    </div>
    <div class="overlay">
    </div>
</header>
</html>