<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visitor App Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <hr/>
    <div class="container text-center my-auto" th:fragment="header">
        <h1 class="mb-1" align="center">Visitor App Demo</h1>
    </div>
    <hr/>

    <div class="alert alert-danger" role="alert" align="center">
        <h4 class="alert-heading">BRAVO, you broke the INTERNET!</h4>
        <p>Something went wrong with your request. Please try again later.
        </p>
        <hr>
        <p th:hidden="${processId==null}" class="mb-0">
            You can also contact support with this id:
            <strong><b>[[${processId}]]</b></strong>
            <br>
            Contact email: broke@internet.com</p>
    </div>
    <br>
    <div>
        <a th:href="@{'/reset'}">
            <button id="button" type="button" class="btn btn-primary btn-lg btn-block float-right">Home
            </button>
        </a>
    </div>
</div>
</body>
</html>