<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visitor App Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <hr/>
    <div th:replace="fragments/header :: header"/>
    <hr/>
</div>
<div class="container">
    <div id="alert" th:if="${alert}" class="alert alert-success" role="alert">
        <h4 class="alert-heading" align="center">[[${alert}]]</h4>
        <hr>
        <p class="mb-0" th:hidden="${noName==true}">
            [[${sameFirstNames}]] other visitor(s) with same first name.
            <br>
            [[${sameLastNames}]] other visitor(s) with same last name.
        </p>
    </div>
    <div th:hidden="${visitor.visitCount!=0}">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <!-- form card login -->
                <div class="card rounded-0">
                    <div class="card-body">
                        <form action="#" th:action="@{'/greeting'}" method="post"
                              th:object="${visitor}">
                            <h6 align="center"> Check In. </h6>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="userFirst">Firstname</label>
                                <input class="form-control" id="userFirst" type="text"
                                       th:field="*{userFirst}" th:required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="userLast">Last name</label>
                                <input class="form-control" id="userLast" type="text"
                                       th:field="*{userLast}" th:required="true"/>
                            </div>
                            <br/>
                            <div class="col-auto">
                                <button class="btn btn-primary float-right" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <a th:href="@{'/swagger-ui.html#/'}">
            <button id="button" type="button" class="btn btn-primary btn-lg btn-block float-right">Check out the API
            </button>
        </a>
    </div>
</div>

</body>
<style>
    #button {
        text-transform: uppercase;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

</style>
</html>